<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>用户名：<%= name %></div>
    <input type="button" value="form-get" onclick="window.location.href='http://localhost:8080/form-get.html'"><br>
    <input type="button" value="form-post" onclick="window.location.href='http://localhost:8080/form-post.html'"><br>
    <input type="button" value="form-upload" onclick="window.location.href='http://localhost:8080/form-upload.html'">
</body>
</html>